<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Awesomium.Windows.Forms.Unofficial" version="1.7.5.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.7.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="SpecFlow" version="2.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>